---
import BackTechnologies from "./BackTechnologies.astro"
import FrontTechnologies from "./FrontTechnologies.astro"
---

<section id="about">
    <div class="max-width">
        <img 
            src="../src/assets/aboutMe.webp" 
            alt="Joaquin Elia desarrollador web Fullstack"
            loading="lazy"
        >
        <div>
            <p>De chico disfrutaba el proceso de hacer realidad las ideas que imaginaba. En 2021, mientras buscaba mi pasión, descubrí el desarrollo web. Desde el momento en que comencé a dar mis primeros estilos en CSS, supe que esto era lo mío.</p>
            <p>Fui reconocido como uno de los mejores alumnos en mi primer curso. Esto me abrió las puertas a trabajar de manera freelance en un proyecto colaborativo, para una agencia de marketing digital de Perú.</p>
            <p>Tras brindar apoyo a compañeros, despejando dudas y compartiendo conocimientos, algunos me buscaron por clases particulares, fortaleciendo así mis habilidades.</p>
            <p>Me gustaría sumarme a un equipo que comparta mi objetivo por la mejora constante para seguir expandiendo mis conocimientos.</p>
            <h3>Tecnologías</h3>
            <div class="technologies">
                <div>
                    <h4>Frontend</h4>
                    <FrontTechnologies />
                </div>
                <div>
                    <h4>Backend</h4>
                    <BackTechnologies />
                </div>
            </div>
        </div>
    </div>
</section>


<style is:global>
    #about {
        background-color: var(--dark-blue);
        padding: 8rem 4rem;
    }
    .max-width {
        max-width: 120rem;
        margin: auto;
        display: flex;
        justify-content: center;
        gap: 8rem;
    }
    #about img {
        width: 20rem;
        height: 30rem;
        object-fit: cover;
        object-position: bottom;
        mix-blend-mode: luminosity;
    }
    #about p{
        max-width: 47rem;
        font-size: clamp(.95em, 1.5vw, 1.25em);
        line-height: clamp(1.55rem, 4vw, 2.1rem);;
        margin-bottom: 1rem;
        color: #e4e4e4;
        text-wrap: pretty;
    }
    #about h3 {
        font-size: 1.9em;
        margin-top: 3rem;
    }
    .technologies{
        display: flex;
        gap: 4rem;
        margin-top: 2rem;
    }
    .technologies div{
        width: 11rem;
        display: flex;
        flex-wrap: wrap;
        gap: .8rem;
    }
    .technologies ul {
        width: 13rem;
        display: flex;
        gap: .8rem;
        flex-wrap: wrap;
        font-size: .9em;
    }
    #about h4 {
        font-size: 1.2em;
        font-weight: 600;
        margin-bottom: .5rem;
    }
    @media (max-width: 75rem) {
        .max-width {
            padding: 0 1rem;
            gap: 4rem;
        }
        #about p{
            max-width: 40rem;
        }
        .technologies{
            gap: 3rem;
        }
    }
    @media (max-width: 53rem) {
        #about {
            background-color: var(--dark-blue);
            padding: 6rem 1rem;
        }
        .max-width {
            flex-direction: column;
            align-items: center;
            gap: 3rem;
        }
        #about img{
            width: 15rem;
            height: 23rem;
        }
        #about p{
            max-width: 30rem;
        }
    }
    @media (max-width: 29rem) {
        section {
            background-color: var(--dark-blue);
            padding: 4rem 1rem;
        }
        .max-width {
            padding: 0;
        }
        #about p{
            max-width: unset;
        }
        #about h3 {
            margin-top: 2rem;
        }
        .technologies{
            flex-wrap: wrap;
            margin-top: 1rem;
        }
    }
</style>