---
const front = ['HTML','CSS','JavaScript','React','Bootstrap', 'Astro', 'Figma', 'Git', 'Github']
---

<>
    <ul>
        {front.map(items => 
            <li>{items}</li>
        )}
    </ul>
</>