---
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.astro';
import Projects from '../components/Works/Projects.astro';
import About from '../components/About/About.astro';
import Contact from '../components/Contact.astro';
---

<Layout 
	title="Joaquin Elia Portfolio | Desarrollador Web Fullstack" 
	description="Joaquin Elia, programador Web Fullstack especializado en Frontend. Descrubrí mis trabajos, conocé mas sobre mi y encontrá mis datos de contacto"
>
	<main>
		<Home />
		<Projects />
		<About />
		<Contact />
	</main>
</Layout>
