---
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.astro';
import Work from '../components/Work.astro';
import About from '../components/About/About.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Joaquin Elia | Portfolio">
	<main>
		<Home />
		<Work />
		<About/>
		<Contact/>
	</main>
</Layout>
