<section>
    <img src="../src/assets/aboutMe.png" alt="Joaquin Elia desarrollador web Fullstack">
    <div>
        <p>¡Hola, soy Joaquín! De chico disfrutaba el proceso de hacer realidad las ideas que imaginaba. En 2021, mientras buscaba mi pasión, descubrí el desarrollo web. Desde el momento en que comencé a dar mis primeros estilos en CSS, supe que esto era lo mío.</p>
        <p>Fui reconocido como uno de los mejores alumnos en mi primer curso. Esto me abrió las puertas a trabajar de manera freelance en un proyecto colaborativo, para una agencia de marketing digital de Perú.</p>
        <p>Tras brindar apoyo a compañeros, despejando dudas y compartiendo conocimientos, algunos me buscaron por clases particulares, fortaleciendo así mis habilidades.</p>
        <p>Me gustaría sumarme a un equipo que comparta mi objetivo por la mejora constante para seguir expandiendo mis conocimientos.</p>
        <h3>Tecnologías</h3>
        <div class="technologies">
            <div>
                <h4>Frontend</h4>
                <div>
                    <ul><li>HTML</li></ul>
                    <ul><li>CSS</li></ul>
                    <ul><li>JavaScript</li></ul>
                    <ul><li>React</li></ul>
                    <ul><li>Bootstrap</li></ul>
                    <ul><li>Astro</li></ul>
                    <ul><li>Figma</li></ul>
                    <ul><li>Git</li></ul>
                    <ul><li>Github</li></ul>
                </div>  
            </div>
            <div>
                <h4>Backend</h4>
                <div>
                    <ul><li>Node.js</li></ul>
                    <ul><li>Express.js</li></ul>
                    <ul><li>MongoDB</li></ul>
                    <ul><li>Firebase</li></ul>
                    <ul><li>Postman</li></ul>
                </div>
            </div>
        </div>
    </div>
</section>


<style>
    section {
        background-color: var(--dark-blue);
        padding: 8rem 4rem;
        display: flex;
        justify-content: space-around;
    }
    img {
        width: 20rem;
        height: 30rem;
        object-fit: cover;
        object-position: bottom;
        mix-blend-mode: luminosity;
    }
    p{
        max-width: 47rem;
        font-size: 1.25em;
        line-height: 2rem;
        margin-bottom: 1rem;
        color: #e4e4e4;
        text-wrap: pretty;
    }
    h3 {
        font-size: 1.9em;
        margin-top: 2rem;
    }
    .technologies{
        display: flex;
        gap: 4rem;
        margin-top: 2rem;
    }
    .technologies div{
        width: 13rem;
        display: flex;
        gap: .8rem;
        flex-wrap: wrap;
    }
    h4 {
        font-size: 1.2em;
        font-weight: 700;
        margin-bottom: .5rem;
    }
    ul {
        color: #e4e4e4;
        font-size: .9em;
    }
</style>