<header>
	<nav class="header-nav">
        <div>
            <a href="#work">Trabajos</a>
            <a href="#contact">Contacto</a>
        </div>
        <div>
            <a href="https://github.com/Joaquin-Elia/" target="_blank" rel="noopener noreferrer">Github</a>
            <a href="https://www.linkedin.com/in/joaquin-elia/" target="_blank" rel="noopener noreferrer">Linkedin</a>
        </div>
	</nav>
</header>

<style>
    .header-nav{
        display: flex;
        justify-content: flex-end;
        gap: 2rem;
        font-weight: 500;
    }
    .header-nav a {
        margin: 1rem 0 -.2rem;
    }
</style>