---
import NavMenu from "./NavMenu.astro";
---

<section class="home">
	<div class="home-noise">
		<div class="max-width">
			<header class="home-top">
				<h1 class="home-h1">Fullstack developer</h1>
				<NavMenu />
			</header>
			<h2>
				Hola soy Joaquin Elia, un desarrollador web de Buenos Aires, Argentina, especializado en el frontend. 
				Mi experiencia como freelancer, me ha permitido trabajar para distintos tipos de clientes y proyectos.
			</h2>
		</div>
	</div>
</section>

<style>
	.home {
		height: 100dvh;
		max-height: 90rem;
		background: url('../assets/homeBg.jpg') no-repeat;
		background-size: cover;
		overflow: hidden;
	}
	.home-noise {
		height: 100%;
		background: url('../assets/homeNoise.svg') no-repeat;
		background-size: cover;
	}
	.max-width{
		height: 100%;
		max-width: 120rem;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 2rem 4rem;
	}
	.home-top{
		display: flex;
		justify-content: space-between;
	}
	.home-h1 {
		font-family: 'Mulish', sans-serif;
		font-size: clamp(3em, 8.4vw, 9.5em);
		line-height: clamp(3rem, 8vw, 9rem);
		letter-spacing: -1.7px;
		text-transform: uppercase;
		max-width: 60rem;
	}
	.home h2 {
		max-width: 43rem;
		font-size: clamp(1.1em, 2.7vw, 1.85em);
		line-height: clamp(1.6rem, 3.3vw, 2.5rem);
		text-wrap: pretty;
		color: #E4E4E4;
	}
	@media (max-width: 75rem) {
		.max-width{
			padding: 2rem;
		}
	}
	@media (max-width: 53rem) {
		.home {
			background-size: 160% 100%;
			background-position-x: 55%;
		}
		.home-top{
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.max-width{
			padding: 0;
			justify-content: space-evenly;
			align-items: center;
		}
		.home-h1 {
			text-align: center;
			letter-spacing: 0;
			font-size: clamp(2.9em, 13vw, 8.5em);
			line-height: clamp(3rem, 12.4vw, 8.2rem);
			order: 2;
		}
		.home h2 {
			color: #E4E4E4;
			padding: 0 4rem;
			position: absolute;
			bottom: 2rem;
		}
	}
	@media (max-width: 29rem) {
		.home h2 {
			left: 0;
			padding: 0 1rem;
		}
	}
</style>