---
import NavMenu from "./NavMenu.astro";
---

<section class="home">
	<div class="home-noise">
		<h1 class="home-h1">Front end Developer</h1>
		<NavMenu />
		<h2>
			<span>Hola, soy Joaquin Elia, creador de sitios estaticos y aplicaciones webs. De Buenos Aires, Argentina.</span>
			<span>Mi experiencia la obtuve realizando proyectos freelance y personales.</span>
		</h2>
	</div>
</section>

<style>
	.home {
		height: 100dvh;
		background: url('../assets/homeBg.jpg') no-repeat;
		background-size: cover;
	}
	.home-noise {
		padding: 2rem 4rem;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: url('../assets/homeNoise.svg') no-repeat;
		background-size: cover;
	}
	.home-h1 {
		font-family: 'Mulish', sans-serif;
		font-size: clamp(3em, 10vw, 8.5em);
		line-height: clamp(3rem, 9.4vw, 8.2rem);
		letter-spacing: -1.7px;
		text-transform: uppercase;
		max-width: 55rem;
	}
	.home h2 {
		color: #E4E4E4;
		max-width: 50rem;
		font-size: clamp(1.2em, 3vw, 2em);
		line-height: clamp(1.6rem, 3.5vw, 2.8rem);
		text-wrap: pretty;
	}
	@media (max-width: 75rem) {
		.home-noise{
			padding: 2rem;
		}
	}
	@media (max-width: 53rem) {
		.home {
			background-size: 160% 100%;
			background-position-x: 55%;
		}
		.home-noise{
			padding: 0;
			justify-content: center;
			align-items: center;
		}
		.home-h1 {
			text-align: center;
			letter-spacing: 0;
			font-size: clamp(2.9em, 13vw, 8.5em);
			line-height: clamp(3rem, 12.4vw, 8.2rem);
		}
		.home h2 {
			color: #E4E4E4;
			padding: 0 4rem;
			position: absolute;
			bottom: 2rem;
		}
	}
	@media (max-width: 29rem) {
		.home h2 {
			left: 0;
			padding: 0 1rem;
		}
	}
</style>