<nav class="header-nav">
    <div>
        <a href="#work">Proyectos</a>
        <a href="#contact">Contacto</a>
    </div>
    <div>
        <a 
            href="https://github.com/Joaquin-Elia/" 
            target="_blank" 
            rel="noopener noreferrer"
        >
            Github
        </a>
        <a 
            href="https://www.linkedin.com/in/joaquin-elia/" 
            target="_blank" 
            rel="noopener noreferrer"
        >
            Linkedin
        </a>
    </div>
</nav>


<style>
    .header-nav{
        position: fixed;
        top: 2rem;
        right: 4rem;
        display: flex;
        gap: 1rem;
        font-weight: 500;
        z-index: 3;
    }
    .header-nav a {
        padding: .5rem .7rem;
        text-transform: uppercase;
    }
    @media (max-width: 75rem) {
		.header-nav{
			right: 2rem;
    	}
        .header-nav a {
            padding: .5rem;
        }
	}
    @media (max-width: 53rem) {
		.header-nav{
            top: 3rem;
            right: 50%;
            transform: translateX(50%);
            text-align: center;
        }
	}
    @media (max-width: 29rem) {
		.header-nav {
            top: 2rem;
		}
	}
</style>