---
import ExternalLinks from '../components/ExternalLinks.astro'
---

<nav class="header-nav">
    <ul>
        <li class="proyects"><a href="/#work">Proyectos</a></li>
        <li class="about"><a href="/#about">Sobre mi</a></li>
        <li class="contact"><a href="/#contact">Contacto</a></li>
        <ExternalLinks />
    </ul>
</nav>

<style>
    .header-nav ul {
        display: grid;
        grid-template: repeat(3, auto) / repeat(2, 6.25rem);
        gap: .2rem 2rem;
        text-transform: uppercase;
    }
    .header-nav a {
        position: relative;
        padding: .4rem .7rem;
    }
    @media (max-width: 75rem) {
		.header-nav ul{
            row-gap: .7rem;
    	}
	}
    @media (max-width: 53rem) {
        .header-nav ul{
            width: 100%;
            grid-template: repeat(2, auto) / repeat(3, auto);
            row-gap: 1rem;
            position: absolute;
            top: 2rem;
            right: 50%;
            transform: translateX(50%);
            text-align: center;
        }
	}
    @media (max-width: 29rem) {
        .header-nav ul {
            gap: .5rem;
            top: .5rem;
            font-size: .9em;
		}
	}
    @media (max-width: 53rem) and (max-height: 28rem){
		.header-nav ul {
			top: .5rem;
			row-gap: .3rem;
		}
	}
</style>