<nav class="header-nav">
    <a href="/#work">Proyectos</a>
    <a href="/#about">Sobre mi</a>
    <a href="/#contact">Contacto</a>
    <a 
        href="https://github.com/Joaquin-Elia/" 
        target="_blank" 
        rel="noopener noreferrer"
    >
        Github
    </a>
    <a 
        href="https://www.linkedin.com/in/joaquin-elia/" 
        target="_blank" 
        rel="noopener noreferrer"
    >
        Linkedin
    </a>
    <a href="/#contact">cv</a>
</nav>

<style>
    .header-nav{
        display: grid;
        grid-template: repeat(3, 2.4rem) / 1fr 100px;
        padding: 0;
        text-transform: uppercase;
        z-index: 3;
    }
    .header-nav a {
        padding: .4rem .7rem;
    }
    .header-nav a:hover{
        text-decoration: underline .1rem;
        text-underline-offset: .2rem;
    }
    @media (max-width: 75rem) {
		.header-nav{
			right: 2rem;
            justify-content: center;
            column-gap: 1rem;
    	}
        .header-nav a {
            padding: .5rem;
        }
	}
    @media (max-width: 53rem) {
        .header-nav{
            width: 100%;
            grid-template-columns: auto auto auto;
            position: absolute;
            top: 2rem;
            right: 50%;
            transform: translateX(50%);
            text-align: center;
        }
        .header-nav a {
            padding: .7rem;
        }
	}
    @media (max-width: 29rem) {
        .header-nav {
            top: .5rem;
            font-size: .9em;
		}
        .header-nav a {
            padding: .6rem;
        }
	}
</style>