<section class="work" id="work">
    <h2 class="work-title">PROYECTOS</h2>
    <article class="works">
        <div class="works-text">
            <h3>MARIANO JUAREZ</h2>
            <h4>Portfolio para Diseñador Gráfico</h3>
            <p class="work-description">
                El objetivo fue exponer el portfolio con un estilo peculiar. En conjunto modificamos el diseño original 
                para encausarlo en la búsqueda de los estándares de UX y UI. Como característica, en cada actualización, 
                el orden y rotación de los proyectos se disponen de manera aleatoria
            </p>
        </div>
        <img 
            src="../../src/assets/marianojuarez.webp" 
            alt="Portfolio para cliente Mariano Juarez"
            loading="lazy"
        >
    </article>
    <article class="works">
        <div class="works-text">
            <h3>ESTUDIO EYS</h2>
            <h4>Web para clientes</h3>
            <p class="work-description">
                Solicitud de una presentación de servicios profesionales, con estética moderna, presencia en la web y 
                herramientas de cálculo matemático. Previo análisis de tendencias, diseñé un wireframe para proyectar
                la estructura de la web. Indagué conceptos legales para el desarrollo de cálculos indemnizatorios. 
                Con procesos modulares pude obtener un código limpio y escalable.
            </p>
        </div>
        <img 
            src="../../src/assets/estudiojuridicoeys.webp" 
            alt="Web para Estudio Juridico Erreguerena Sabalúa"
            loading="lazy"
        >
    </article>
    <article class="works">
        <div class="works-text">
            <h3>EINFINITY</h2>
            <h4>Proyecto con IA</h3>
            <p></p>
        </div>
        <img 
            src="../../src/assets/einfinity.webp" 
            alt="Proyecto einfinity" 
            loading="lazy"
        >
    </article>
</section>

<style>
    .work{
        background: var(--gray-blue) url('../assets/noise2.png');
    }
    .work-title{
        font-size: clamp(1.7em, 8vw, 2.7em);
        letter-spacing: -.7px;
        text-align: center;
        padding: 6rem 4rem;
        font-weight: 600;
        color: var(--blue-color);
    }
    .works {
        max-width: 120rem;
        margin: auto;
        position: relative;
        width: 100%;
        height: 100dvh;
        max-height: 70rem;
        display: flex;
        justify-content: flex-end;
        color: var(--blue-color);
        overflow: hidden;
        padding: 2rem 4rem 2rem 0;
    }
    .works-text {
        position: absolute;
        top: 0rem;
        left: 4rem;
        z-index: 2;
        width: 40%;
    }
    .works-text h3 {
        max-width: 33rem;
        font-size: clamp(3.5em, 12vw, 7em);
        line-height: clamp(3.3rem, 11.5vw, 6.5rem);
        font-family: 'Mulish', sans-serif;
        letter-spacing: -1.5px;
    }
    .works-text h4 {
        margin-top: 1rem;
        font-size: 2em;
        letter-spacing: -0.8px;
    }
    .work-description {
        margin-top: 1rem;
        max-width: 30rem;
        text-wrap: pretty;
        font-size: 1.1em;
        line-height: 1.4rem;
    }
    .works img{
        width: 60%;
        max-width: 55rem;
        max-height: 45rem;
        object-fit: contain;
        transform: perspective(40rem) rotateY(-5deg);
    }
    @media (max-width: 85rem) {
        .works img{
            width: 55%;
        }
    }
    @media (max-width: 75rem) {
        .works {
            padding-right: 3rem;
        }
        .works-text {
            left: 2rem;
        }
        .work-description {
            font-size: inherit;
        }
        .works img{
            width: 55%;
        }
    }
    @media (max-width: 53rem) {
        .work {
            padding: 2rem 2rem 0;
        }
        .works{
            width: 100%;
            max-height: 60rem;
            height: unset;
            flex-direction: column;
            gap: 2rem;
            padding: 0;
            left: 0;
        }
        .works-text {
            position: relative;
            width: 100%;
            margin-top: 3rem;
            left: 0;
        }
        .works img{
            width: 100%;
            left: 0;
            transform: perspective(0) rotateY(0);
            margin-bottom: 3rem;
        }
    }
    @media (max-width: 29rem) {
        .work {
            padding: 1rem;
        }
        .work-title{
            padding: 2rem 0;
        }
        .works {
            justify-content: flex-start;
            max-height: 45rem;
        }
        .work-description {
            margin-top: .5rem;
            font-weight: 600;
            line-height: 1.3rem;
        }
        .works-text h4 {
            margin-top: .8rem;
            font-size: 1.6em;
            letter-spacing: -0.6px;
        }
        .works img{
            margin-bottom: 2rem;
        }
	}
</style>