---
import ProyectsData from "./ProyectsData.astro"
---

<section class="work" id="work">
    <h2 class="work-title">TRABAJOS</h2>
    <ProyectsData />
</section>

<style is:global>
.work{
    background: var(--gray-blue) url('../../assets/noise2.png');
    color: var(--blue-color);
}
.work-title{
    font-size: clamp(1.7em, 8vw, 2.7em);
    letter-spacing: -.7px;
    text-align: center;
    padding: 6rem 4rem;
    font-weight: 600;
}
.works {
    max-width: 120rem;
    width: 100%;
    height: 100dvh;
    max-height: 70rem;
    min-height: 40rem;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 0 4rem 2rem 0;
}
.works-text {
    width: 40%;
    position: absolute;
    top: 1rem;
    left: 4rem;
    z-index: 2;
}
.works-text h3 {
    max-width: 33rem;
    font-size: clamp(3.5em, 12vw, 7em);
    line-height: clamp(3.3rem, 11.5vw, 6.5rem);
    font-family: 'Mulish', sans-serif;
    letter-spacing: -1.5px;
}
.works-text h4 {
    margin-top: 1rem;
    font-size: 2em;
    letter-spacing: -0.8px;
}
.work-description {
    margin-top: 1rem;
    max-width: 33rem;
    font-size: 1.1em;
    line-height: 1.4;
}
.works-links{
    display: flex;
    gap: 1.5rem;
    margin: .5rem 0;
    font-size: 1.05em;
    font-weight: 600;
    padding: .5rem 0;
}
.works-links a{
    position: relative;
}
.link-web {
    background-color: var(--blue-color);
    color: var(--text-color);
    padding: .7rem 2rem;
    transition: .2s ease-in-out;
}
.link-web:hover{
    background-color: #1e5cf8;
}
.works-links a:last-child{
    padding: .7rem 0;
}
.works-links a::before{
    background: var(--blue-color);
    bottom: .4rem;
    left: .4rem;
}
.link-web::before{
    all: unset;
}
.works-text h5 {
    font-size: 1.1em;
    margin-top: 1rem;
}
.works-technologies {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin-top:.3rem;
}
.works img{
    width: 55%;
    max-width: 55rem;
    max-height: 45rem;
    object-fit: contain;
    transform: perspective(40rem) rotateY(-5deg);
}
@media (max-width: 75rem) {
    .works {
        padding-right: 3rem;
    }
    .works-text {
        left: 2rem;
    }
    .work-description {
        font-size: inherit;
    }
    .works img{
        width: 55%;
    }
}
@media (max-width: 53rem) {
    .work {
        padding: 0 2rem 2rem;
    }
    .works{
        width: 100%;
        height: unset;
        flex-direction: column;
        gap: 2rem;
        padding: 0;
        left: 0;
    }
    .works-text {
        position: relative;
        width: 100%;
        margin-top: 2rem;
        left: 0;
    }
    .works img{
        width: 100%;
        left: 0;
        transform: perspective(0) rotateY(0);
        margin-bottom: 1rem;
    }
}
@media (max-width: 29rem) {
    .work {
        padding: 0 1rem 2rem;
    }
    .work-title{
        padding: 3rem 0 0;
    }
    .work-description {
        margin-top: .5rem;
        font-size: .95em;
        line-height: 1.3;
    }
    .works-text h4 {
        margin-top: 1rem;
        font-size: 1.6em;
        letter-spacing: -0.6px;
    }
    .works img{
        margin-bottom: 0;
    }
}
</style>